// container widths
base-width ?= calc(100% - 30px)
mobile-width ?= calc(100% - 30px)
tablet-width ?= 720px
desktop-width ?= 960px
large-width ?= 1050px
xlarge-width ?= 1140px
xxlarge-width ?= 1320px
